[submodule "scripts"]
	path = scripts
	url = git://github.com/ioalex/scripts.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/ioalex/nvim.git
[submodule "wallpapers/Pictures/Wallpapers"]
	path = wallpapers/Pictures/Wallpapers
	url = https://github.com/ioalex/Wallpapers.git
[submodule "@win/AutoHotkey"]
	path = @win/AutoHotkey
	url = https://github.com/ioalex/ahk.git
