\.zinit
\syntax
\plugins
!nnn/.config/nnn/plugins
\sessions
espanso/.config/espanso/user

redshift.conf
npmrc

# Backups
*.bak

# Misc.
.DS_Store
*.cache
Thumbs.db
*.log
tags
*un~

# ZSH Cache
.zcompdump*
*.zwc

# History files
*.history*
*.*hist

# Secrets
redshift.env
npm.env
*secrets*

# Git Secrets
.gitsecret/keys/random_seed
!*.secret

# Encrypt files
*.gpg
